@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Muli', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.row {
    margin: auto;
}


/* Hero image*/

.hero-image {
    background-image: url("https://cf.bstatic.com/images/hotel/max1024x768/197/197595612.jpg");
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 70vh;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 5, 0.201);
    border-color: rgba(0, 0, 0, 1);
}

.centered {
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
}

.centered1 {
    top: 40%;
    left: 50%;
    width: 70vw;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

.search {
    top: 50%;
    transform: translate(10, -50%);
    font-weight: bold;
}


/*Search*/

.search-form {
    width: 70%;
    background-color: #24335d;
    margin-top: 2;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

input,
label {
    margin: .4rem 0;
    border: #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

input {
    background-color: #252f59;
    color: #ffffff;
    border-style: solid;
    height: 40px;
    border-width: 1px;
    text-align: center;
}

.btn {
    background-color: #0a7fab;
    border: #0a7fab;
    float: right;
}

.btn-room {
    background-color: #0a7fab;
    border: #0a7fab;
    float: right;
    height: 40px;
    margin-left: 5px;
}


/*Rooms*/

.room1,
.room2 {
    width: 50%;
}

.room2 {
    top: 50%;
    left: 20%;
    transform: translate(50%, -50%);
}


/*Amenities*/

.amenities-image {
    width: 100%;
    height: 100%;
}

.amenitites-content {
    background-color: #3f9cc1;
    color: #ffffff;
    text-align: center;
}

.list1,
.list2 {
    display: inline-table;
    line-height: 50px;
}


/*Modal Content*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel-image {
    width: 400px;
    float: right;
}


/*Media Queries*/

@media only screen and (max-width: 768px) {
    .room1,
    .room2 {
        width: 80%;
    }
    .amenitites-content {
        text-align: left;
    }
    i {
        margin-right: 10px;
    }
    .carousel {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .centered {
        font-size: 5rem;
    }
    .search-form {
        width: 70%;
        height: 15vh;
    }
    .centered {
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    .centered1 {
        width: 500px;
        top: 40%;
        left: 33%;
    }
    input,
    label {
        margin-top: 1rem;
        display: inline-block;
    }
    .btn {
        margin-right: -30px;
        width: 150px;
        height: 15vh;
    }
    i {
        margin-right: 15px;
    }
    .model-content {
        width: 80%;
        margin-top: 2rem;
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
}